/* Input form */

.form {
    padding-top: 64px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.form-section {
    padding-bottom: 100px;
    text-align: center;
}

.form-label {
    display: inline-block;
    font-size: 20px;
    height: 48px;
    line-height: 48px;
    margin-left: 16px;
    margin-right: 16px;
}

.form-control {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    margin-right: 16px;
}

.button {
    border: solid #61584B 1px;
    border-radius: 4px;
    background-color: #61584B;
    color: #C2BDB1;
    font-size: 18px;
    font-weight: 300;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    line-height: 48px;
    min-width: 100px;
}

.button:hover {
    background-color: #61584B;
    color: #FFFFFF;
}

.input {
    height: 48px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-bottom: solid #61584B 1px;
}

.input:focus {
    border-bottom: solid orangered 1px;
    outline: none;
}

.input-amount {
    width: 120px;
    text-align: right;
    text-align: center;
}

.input-currency {
    width: 70px;
    text-align: center;
}

.form-label-result {
    font-weight: 700;
    margin-left: 0;
}

.form-label-error {
    color: orangered;
    font-weight: 700;
}

