/* All-purpose styles */
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
}


/* Page Header */
.header {
    height: 48px;
    display: table;
    width: 100%;
}

.header-items {
    display: table-row;
}

.header-item {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 100;
}

.header-item-logo {
    width: 48px;
    text-align: center;
    color: white;
    background-color: #96151D;
}

.header-item-title {
    text-align: left;
    padding-left: 16px;
    color: white;
    background-color: #44697D;
}


/* Page Footer */
.footer {
    position: fixed;
    bottom: 0;
    height: 32px;
    width: 100%;
    line-height: 32px;
    padding-left: 8px;
    color: #E0E0E0;
    font-size: 11px;
    font-weight: 300;
    background-color: #44697D;
}


/* Input form */

.form {
    padding-top: 64px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.form-section {
    padding-bottom: 100px;
    text-align: center;
}

.form-label {
    display: inline-block;
    font-size: 20px;
    height: 48px;
    line-height: 48px;
    margin-left: 16px;
    margin-right: 16px;
}

.form-control {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    margin-right: 16px;
}

.button {
    border: solid #61584B 1px;
    border-radius: 4px;
    background-color: #61584B;
    color: #C2BDB1;
    font-size: 18px;
    font-weight: 300;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    line-height: 48px;
    min-width: 100px;
}

.button:hover {
    background-color: #61584B;
    color: #FFFFFF;
}

.input {
    height: 48px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-bottom: solid #61584B 1px;
}

.input:focus {
    border-bottom: solid orangered 1px;
    outline: none;
}

.input-amount {
    width: 120px;
    text-align: right;
    text-align: center;
}

.input-currency {
    width: 70px;
    text-align: center;
}

.form-label-result {
    font-weight: 700;
    margin-left: 0;
}

/** A bit of responsive design */

/** Less than tablet */
@media(max-width:960px) {

    .form {
        width: 100%;
        padding: 32px;
    }

    /* Buttons take the screen width */
    button {
        width: 100%;
        display: block;
    }

    /* Form elements are listed under each other */
    .form-label {
        width: 100%;
        display: block;
        height: auto;
        margin: 0;
    }

    .form-control {
        width: 100%;
        display: block;
        height: auto;
        margin-bottom: 16px;
    }

    .input {
        width: 100%;
    }

}

