/* Page Header */
.header {
    height: 48px;
    display: table;
    width: 100%;
}

.header-items {
    display: table-row;
}

.header-item {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 100;
}

.header-item-logo {
    width: 48px;
    text-align: center;
    color: white;
    background-color: #96151D;
}

.header-item-title {
    text-align: left;
    padding-left: 16px;
    color: white;
    background-color: #44697D;
}
