/* Page Footer */
.footer {
    position: fixed;
    bottom: 0;
    height: 32px;
    width: 100%;
    line-height: 32px;
    padding-left: 8px;
    color: #E0E0E0;
    font-size: 11px;
    font-weight: 300;
    background-color: #44697D;
}

