/* Input form - mobile version */

@media(max-width:960px) {

    .form {
        width: 100%;
        padding: 32px;
    }

    /* Buttons take the screen width */
    button {
        width: 100%;
        display: block;
    }

    /* Form elements are listed under each other */
    .form-label {
        width: 100%;
        display: block;
        height: auto;
        margin: 0;
    }

    .form-control {
        width: 100%;
        display: block;
        height: auto;
        margin-bottom: 16px;
    }

    .input {
        width: 100%;
    }

}


