.loader {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.loader-text {
    color: #61584B;
    font-size: 32px;
}